streamlit==1.32.2
pdfplumber==0.11.9
pypdf==4.0.1
langchain==0.1.16
langchain-core==0.1.53
langchain-text-splitters==0.0.2
langchain-community==0.0.34
langsmith==0.1.81
openai==1.39.0
groq
sqlalchemy==2.0.46
python-dotenv==1.0.1
